#contact-box{
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    animation:2s ease 0s normal forwards 1 fadein;
    -webkit-animation:2s ease 0s normal forwards 1 fadein;
    opacity:1
    }

#linked-in {
    color: black;
    text-decoration: underline;
}

.icon {
    margin: 5px;
}

ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.typewriter {
    /*This part is important for centering*/
    display: inline-block;
    justify-content: center;
    
}

#contact {
    width: 11ch ;
    animation: typing 1s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid orange;
    font-family: monospace;
    font-size: 5em;
    margin: 0 auto;
    padding-top: 30px;
}

li {
    line-height: 2em;
}

#contact-dot {
    color: red;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


@media screen and (max-width: 800px){
    #contact {
        font-size: 3em;
    }

    #contact-box{
        font-size: 1em;
    }
}